@media all and (min-width:1200px){
    
/* header */

.pc{
    display: block;
}

.mobile{
    display: none;
}


header{
    height: 100vh;
    background-color: #333;
    
}

/* figrue */

figure{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

figure video{
    width: 100%;
    min-width: 1600px;
}



/* main */

/* row1 */

.row1{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 200px;
}

.row1 h2{
    font-size: 120px;
}

.row1>p{
    font-size: 24px;
    font-weight: 300;
    margin-top: 50px;
}
.po{
    flex-wrap: nowrap;
    width: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.po img{
    width: 120px;
    height: 247px;
}

.po p{
    font-size: 26px;
    color: #333;
}


/* poL , poR */

.poL, .poR{
    color: #ccc;
    height: 800px;
    width: 100%;
}

.poL .powrap, .poR .powrap{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
}

.poL .pic, .poR .pic{
    width: 510px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poL .pic img, .poR .pic img{
    width: calc(450px/1.3);
    display: block;
}

.poL h4, .poR h4{
    font-size: 280px;
    margin-bottom: 30px;
    line-height: 300px;
    font-weight: 100;
    text-align: left;
}

.poL .txt, .poR .txt{
    margin-left: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.poL h5, .poR h5{
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 10px;
}
 .poL p, .poR p{ 
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
}

.poL:last-child{
    margin-bottom: 300px;
}

/* play */

.play{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);

    background-image: url(../images/btnPlay.png);
    background-repeat: no-repeat;
    background-position: 35px center;
    background-size: auto;

    position: absolute;
    bottom: 50px;
    right: 50px;

    transition: all 0.3s;
}

.play:hover{
    transform: translate(3px, 3px);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.play.stop{
    background-image: url(../images/btnstop.png);
    background-position: 35px center;
    background-size: auto;
}


/* exp */

.exp{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.exp h3{
    font-size: 80px;
    margin-top: 80px;
}

.exp p{
    font-size: 24px;
    margin-top: 80px;
    line-height: 30px;
}

.expL, .expR{
    font-size: 24px;
}

.expL li::before, .expR li:before{
    content: '-';
    margin-right: 10px;
}

.expBtn{
    font-size: 24px;
}

.expBtn li{
    padding: 10px;
    border-radius: 10px;
}

/* BACKGROUND COLOR */

main .play32{
    border: 3px solid #ccc;
}


}





