@media all and (min-width:768px){

    /* body{
        overflow-x: hidden;
    } */

    /* row1 */
    .row1 h2{
        font-size: 96px;
        margin: 30px 0;
    }

    .row1>p{
        font-size: 20px;
        margin: 30px 0;
    }

    .po{
        justify-content: unset;
        margin: 60px auto;

    }

    .po a{
        width: 20%;
    }

    /* top btn */
        
    .top{
        background-color: #bbb;
        position: fixed;
        bottom: 30px;
        right: 30px;
    }

    .top:hover{
        background-color: #ddd;
        cursor: pointer;
    }
    
    .top:active{
        transform: translateY(-5px);
        background-color: #ddd;
    }

    /* poExp */
    .poExp{
        padding: 30px 0;
        width: auto;
    }
    .poExp:last-child{
        margin-bottom: 300px;
    }
    
    .poExp .txt{
        margin: 0;
    }

    .pic{
        margin: 0;
        width: 260px;
    }
    .pic img{
        width: 100%;
    }

    
    .powrap{
        display: flex;
        justify-content: space-between;
        width: 700px;
    } 

    .poExp .txt{
        display: block;
        width: 400px;
    }

    .poExp h4{
        font-size: 120px;
        margin-top: 24px;
    }

    .poExp h5{
        font-size: 48px;
        margin-top: 24px;
    }

    .poExp p{
        font-size: 22px;
        margin-top: 24px;
        line-height: 28px;
    }

    
/* poR */

.poR .txt{
    order: 0;
} 
 
.poR .pic{
    order: 1;
}

/* play */

.play{
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    box-sizing: border-box;

    background-image: url(../images/btnPlay.png);
    background-repeat: no-repeat;
    background-position: 18px center;
    background-size: 36px;

}

.play:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.play.stop{
    background-image: url(../images/btnstop.png);
    background-repeat: no-repeat;
    background-position: 18px center;
    background-size: 30px;

}

/* exp */

.exp{
    margin: 40px 0;
}

.exp h3{
    font-size: 50px;
    font-weight: 200;
}

.exp p{
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
}

.expWrap{
    display: flex;
    justify-content: center;
}

.expL{
    margin-right: 80px;
}

.expL, .expR{
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}


.expL li::before, .expR li:before{
    content: '-';
    margin-right: 6px;
}

.expBtn{
    font-size: 20px;
}


}


